.col-sm-10{
    background-color: white;
}
#Side_Menu a{
    color: white;
    font-weight: bold;
}

#Side_Menu .active a{
    color: #ffffff;
    background-color: #27AAE1;
    font-weight: bold;
}
#Side_Menu a:hover{
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
    display: block;
}
#Side_Menu_links{
    font-size: large;
}
#Footer{
    padding:10px;
    border-top: 1px solid black;
    color:#eeeeee;
    background-color: #211f22;
    text-align: center;
}

#welcome{
    color: white;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}


.active {
    background-color: #9fb1c2;

}


.CommentBlock{
    background-color: #F6F7F9;
}

.Comment-Info{
    color: #365899;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
}

.Comment{
    margin-top: -20px;
    padding-bottom: 10px;
    font-size: 1.1em;
}